.excursion-cards{
	display: grid;
	grid-template-columns: repeat(2	, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 40px;
}
.excursion-cards__item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border-radius: 30px;
	border: 2px solid blueviolet;
}
.excursion-cards img {
	max-width: 400px;
	/* height: 300px; */
}
.excursion-cards button {
	background-color: blueviolet;
	height: 70px;
	width: 200px;
	margin-bottom: 20px;
	position: sticky;
	top: 88%;
	color: white;
	border: none;
	border-radius: 30px;
	box-shadow: 1px 1px 10px black;
	transition: 0.5s;
	cursor: pointer;
}
.excursion-cards button:hover {
	background-color: rgb(249, 91, 241);
}
@media (max-width:450px) {
	.excursion-cards {
		grid-template-columns: repeat(1, 1fr);
	}
	.excursion-cards__item {
		width: 80%;
		margin: 0 auto;
	}
	.excursion-cards img {
		max-width: 80%;
	}
}