.history {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
.history__title-spb {
	margin: 50px 0 50px 0;
	font-size: 38px;
}
.history__text-spb {
	max-width: 800px;
	font-size: 26px;
}
.history p {
	max-width: 900px;
	font-size: 24px;
	margin: 10px;
}
.history img {
	width: 800px;
	max-width: 100%;
}